body {
  background-color: #7e5a6b;
  font-family: "Dosis", sans-serif;
  font-family: "Merienda", cursive;
  color: #d7dbd9;
}
.wrapper {
  margin: 50px auto;
  max-height: 1000px;
  max-width: 500px;
}
.forecast-main {
  background-color: #3f3551;
  border-radius: 20px;
  padding: 35px;
  box-shadow: 0px 0px 5px 2px rgba(17, 23, 39, 0.4);
}
.forecast-days {
  background-color: #3f3551;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 2px rgba(17, 23, 39, 0.4);
  padding: 15px;
}

input[type="text"] {
  background-color: #7e5a6b;
  color: #d7dbd9;
  border: #08080a solid 0.5px;
  width: 270px;
  border-radius: 15px;
  padding: 0 50px 0 10px;
}
input[type="submit"] {
  background-color: #51435f;
  border: #08080a solid 0.5px;
  color: #d7dbd9;
  width: 75px;
  border-radius: 15px;
  font-size: 15px;
  margin-left: 10px;
}
input[type="submit"]:hover {
  outline: none;
  background-color: #7e5a6b;
  color: #d7dbd9;
}
input[type="text"]:hover,
input[type="text"]:focus {
  outline: none;
  background-color: #7e5a6b;
}

.icon {
  height: 145px;
}
.weather-description {
  text-transform: capitalize;
}

li {
  list-style: none;
  margin-top: 20px;
}

footer {
  color: #d7dbd9;
  text-align: center;
}

footer a {
  color: #d7dbd9;
  text-decoration: none;
}

footer a:hover {
  color: #eaedeb;
}

.forecast-days h2 {
  font-size: 18px;
  text-align: center;
}

h1,
.forecast-days h2 {
  color: #7e5a6b;
}

.min-temp,
.max-temp,
.weather-decsription {
  font-size: 14px;
}
